<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <localRepository>${user.home}/.m2/repository</localRepository>
    <mirrors>
        <mirror>
            <id>Heritage Off ClusterNexus</id>
            <mirrorOf>*</mirrorOf>
            <url>https://nexus.hbs.net.au/repository/openshift/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>heritage-off-cluster-nexus-profile</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                    https://sonarqube.hbs.net.au
                </sonar.host.url>
            </properties>
        </profile>

    </profiles>
    <activeProfiles>
        <activeProfile>heritage-off-cluster-nexus-profile</activeProfile>
    </activeProfiles>
</settings>